// Custom JS
script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js")
script(type='text/javascript')
  WebFont.load({
    google: {
      families: ["Montserrat:400,700","Bitter:400,700", "Lato:100,300,400,700,900"]
    }
  });

script(type='text/javascript', src='/js/jquery-1.10.1.min.js')
script(type='text/javascript', src='/js/jquery-ui-1.10.3.custom.min.js')

// Google Maps
script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
script(type='text/javascript', src='/js/util/maps.js')

// AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

// Angular app and controllers
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/services/tours.js')
script(type='text/javascript', src='/js/controllers/indexController.js')
script(type='text/javascript', src='/js/controllers/planningController.js')
script(type='text/javascript', src='/js/controllers/toursController.js')

if (req.host='localhost')
  //Livereload script rendered
  script(type='text/javascript', src='http://localhost:35729/livereload.js')
