<section ng-controller="ToursController" ng-init="setup()">
	<!-- Top row containing day selection and map -->
	<div class="row main">
		<ul id="day-selection" class="span2">
			<li ng-repeat="day in tour.days">
				<div ng-click="selectDay($index)" ng-class="{selected:day.selected}">Day {{$index}}</div>
			</li>
		</ul>
		<div id="tour-map-canvas" class="span10" style="height: 500px;">
		</div>
	</div>
	<!-- Details and weather -->
	<div class="row details">
		<div id="weather" class="span2">
			WETTER
		</div>
		<ul id="day-details" class="span10">
			<li ng-repeat="section in sections" ng-class="{closed:!section.selected}">
				<div class="title" ng-click="openSection($index)">{{section.code}}</div>
				<div id="c{{$index}}" class="content">
					<ul>
						<li ng-repeat="venue in section.venues">
							{{venue.name}}
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>