<link rel='stylesheet' href='/lib/bootstrap/docs/assets/css/bootstrap.css' />

    <section data-ng-controller="PlanningController" data-ng-init="init()">





    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/tfl.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Lato:100,300,400,700,900"]
        }
      });
    </script>

    <script type="text/javascript" src="js/webflow.js" defer></script>

    <style type="text/css">
      #planning-details {
      list-style-type: none;
      margin: 0;
    }

#planning-details li {
  margin-bottom: 5px;
}

#planning-details li div.category_header {
  padding: 5px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

#planning-details li div.category_header h2 {
  margin: 0;
}

#planning-details li div.content {
  padding: 0 5px;
  height: 0;
  visibility: hidden;
  display: none;
  margin-top: 0;
  width: auto;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
}

ul.outer-venue {
  display: inline;
}

li div.venue-box.ng-binding {
  width: 140px;
  height: 140px;
  margin: 10px;
  background-color: green;
}

a.next-button {
  margin-top: 20px;
  font-size: 18pt;
  color: white;
  font-family: 'Helvetica Neue';
  background-color: rgb(42,127,189);
}

    </style>





  <div class="section_header">
    <div class="header_bar">
      <img class="logo_travelsquare" src="/img/travelsquare_Mini.png" width="130" alt="travelsquare_Mini.png">
    </div>
  </div>
  <div class="section_main">
    <div class="w-container container container1">
      <div class="top_bar_bar">
        <div class="w-clearfix">
          <h1 class="city_bar">{{city}}</h1>
          <div class="w-clearfix bloody_empty_div">
            <a class="w-clearfix w-inline-block link1" href="/">
              <img class="" src="img/notepad.png" width="60" height="50" style="padding-right:15px;" alt="notepad.png">

            </a>

            <a class="w-inline-block link2" href="/tour">
              <img class="" src="img/map.png" width="50" height="50" alt="map.png">
            </a>



          </div>
        </div>
      </div>
      <ul id="planning-details" class="span12">
        <li ng-repeat="section in sections" ng-class="{closed:!section.selected}">
          <titleboxfront></titleboxfront>
          <div id="c{{$index}}" class="content" style="position: relative;">
            <!-- <ul class="outer-venue">
              <li ng-repeat="venue in it0">
                <div class="venue-box">{{venue.name}}<div class="heart" style="position: absolute; top: 20px; right: 30px; background-image:url(../img/heart_empty.png); width: 20px; height: 20px;"> </div></div>

              </li>
            </ul> -->
          </div>
        </li>
      </ul>
      <a href="http://localhost:3000/#!/tours" class="next-button">Next</a>
    </div>
  </div>
</body>
</html>