    <section data-ng-controller="PlanningController" data-ng-init="findOne()">
    Test: {{test}}
    
    
   
    <ul>
     <li ng-repeat="section in venues['FOOD']" >
     
    
{{section.venue.name}}
- Likes {{section.venue.likes.count}}
- Rating {{section.venue.rating}}
- Photo {{section.venue.photos}}
<hr>

     </li>
     </ul>
    
    <hr>Sections:
     <ul id="day-details" class="span10">
                        <li ng-repeat="section in sections" ng-class="{closed:!section.selected}">
                                <div class="title" ng-click="openSection($index)">{##{section}}...</div>
                                <div id="c{{$index}}" class="content">
                                        <ul>
                                                <li ng-repeat="venue in section.venues">
                                                        {{section.content}}...
                                                </li>
                                        </ul>
                                </div>
                        </li>
                </ul>
            ...    
        <hr>        
                
                
                
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/tfl.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Lato:100,300,400,700,900"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <script type="text/javascript" src="js/webflow.js" defer></script>
  
  
  
  
  
  
  <div class="section_header">
    <div class="header_bar">
      <img class="logo_travelsquare" src="/img/travelsquare_Mini.png" width="130" alt="travelsquare_Mini.png">
    </div>
  </div>
  <div class="section_main">
    <div class="w-container container container1">
      <div class="top_bar_bar">
        <div class="w-clearfix">
          <h1 class="city_bar">Barcelona</h1>
          <div class="w-clearfix bloody_empty_div">
            <a class="w-clearfix w-inline-block link1" href="itinerary.html">
              <img class="menu_item1" src="images/notepad.png" width="48" height="50" alt="notepad.png">
            </a>
            <a class="w-inline-block link2" href="itinerary.html"></a>
            <img class="menu_item2" src="images/map.png" height="50" alt="map.png">
          </div>
        </div>
      </div>
      <div class="category_header">
        <h2 class="category_titles">FOOD</h2>
      </div>
      <div class="w-clearfix sub_section">
        <div class="arrow_left">
          <img class="arrow_image_left" src="images/arrow_left.png" height="450" alt="arrow_left.png">
        </div>
        <div class="w-clearfix wrapper_section">
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant A</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant B</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant C</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant D</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant E</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant F</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant G</h3>
          </div>
          <div class="info_window">
            <img class="img_info_window" src="images/image-placeholder.svg" alt="image-placeholder.svg">
            <h3 class="info_window_title">Restaurant H</h3>
          </div>
        </div>
      </div>
      <div class="category_header category_coffee">
        <h2 class="category_titles">COFFEE</h2>
      </div>
      <div class="category_header category_sights">
        <h2 class="category_titles">SIGHTS</h2>
      </div>
      <div class="category_header category_arts_events">
        <h2 class="category_titles">ARTS &amp; EVENTS</h2>
      </div>
      <div class="category_header category_shopping">
        <h2 class="category_titles">SHOPPING</h2>
      </div>
      <div class="category_header category_nightlife">
        <h2 class="category_titles">NIGHTLIFE</h2>
      </div>
      <div class="w-clearfix category_header category_outdoors">
        <h2 class="category_titles categoy_outdoors">OUTDOORS</h2><a class="button cta" href="#">Plan My Trip</a>
      </div>
    </div>
  </div>
</body>
</html>