<header>
	<a href="/" id="logo"><img height="25" src="../img/travelsquare_Mini.png"/></a>
</header>
<section ng-init="setup()">
	<!-- Top row containing day selection and map -->
	<div class="row main">
		<ul id="day-selection" class="large-2 columns">
			<li ng-repeat="day in days">
				<div ng-click="selectDay($index)" ng-class="{selected:day.selected}">Day {{$index + 1}}</div>
			</li>
		</ul>
		<div id="tour-map-canvas" class="large-10 columns">
		</div>
	</div>
	<!-- Spots for each day -->
	<div class="row spots">
		<modalbox class="large-offset-2 large-10 columns" ng-repeat="modalBox in selectedDay.spots">
			<ul class="venues">
				<li ng-repeat="venue in modalBox.venues" class="venue">
					<img src="{{venue.imageUrl}}">
					<div class="info">
						<span class="name">{{venue.name}}</span><span class="address">{{venue.location.address}}</span><br/>
						<div class="blurb">{{venue.blurb}}</div>
					</div>
				</li>
			</ul>
		</modalbox>
	</div>
</section>
