/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  position: static; }

body.ie {
  font-family: Arial,sans-serif; }

header {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #d0d0d0;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(35%, #ffffff), color-stop(65%, #fafafa), color-stop(100%, #ebebeb));
  background-image: -webkit-linear-gradient(center top, #ebebeb 0%, #ffffff 35%, #fafafa 65%, #ebebeb 100%);
  background-image: -moz-linear-gradient(center top, #ebebeb 0%, #ffffff 35%, #fafafa 65%, #ebebeb 100%);
  background-image: -o-linear-gradient(center top, #ebebeb 0%, #ffffff 35%, #fafafa 65%, #ebebeb 100%);
  background-image: linear-gradient(center top, #ebebeb 0%, #ffffff 35%, #fafafa 65%, #ebebeb 100%);
  height: 45px;
  width: 100%; }

header * {
  /*does it only affect the children or the element itself as well? Is there another way to mark the children?*/
  display: inline; }

#logo {
  float: left;
  height: 35px;
  margin: 9px 5px 0 10px; }

#logo img {
  height: 25px; }

#background_main_image {
  background-image: url(../img/paris.jpg); 
  height: 550px;
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  margin-top: -100px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 15px, rgba(0, 0, 0, 0.6) 0 -1px 1px; }

#main_unit {
  position: relative;
  margin: auto; }

#spacer1 {
  height: 40px; }

#spacer2 {
  height: 60px; }

#background_main_image h1 {
  color: white;
  font-size: 48px;
  line-height: 48px;
  margin: 100px 0 20px 0;
  font-family: Montserrat, Verdana; }

#background_main_image h1.show-for-small {
  font-size: 36px;
  margin-top: 40px; }

#background_main_image h2 {
  color: white;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px; }

#search_form {
  background: rgba(57, 60, 61, 0.8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin: 0;
  line-height: 15px;
  padding: 2px;
  width: 100%; }

.position-left {
  float: left; }

.position-right {
  float: right; }

.styled {
  padding: 0 2px !important;
  margin: 2px 0 !important; }

input.input_elements, select.input_elements {
  background-color: white;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border-radius: 5px !important;
  border: 1px solid black;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 5px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 5px;
  color: #393c3d;
  font-size: 17px;
  height: 41px;
  margin: 0;
  -webkit-appearance: none;
  padding: 8px 5px 8px 8px;
  width: 100%; }

#submit_location_button {
  height: 41px;
  font-size: 16px;
  color: white;
  border: 1px solid #008080;
  -webkit-box-shadow: inset #f0f0f0 0 0 4px;
  -moz-box-shadow: inset #f0f0f0 0 0 4px;
  box-shadow: inset #f0f0f0 0 0 4px;
  margin: 0;
  width: 100%;
  padding: 4px 5px 0 5px;
  background-color: rgb(255,225,89); }

#rooms_min {
  color: #4d4f50; }

#m2_min {
  color: #4d4f50; }

.top-bar form {
  float: right;
  line-height: 0;
  padding: 0 15px 0 15px; }

#searchbox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#searchboxbutton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

#list {
  background-color: #fff;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  width: 200px;
  z-index: 100; }

.text_block {
  width: 100%;
  height: 300px;
  background-color: #3c3c3c;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey; }

.text_block h3 {
  text-align: center;
  color: white;
  margin: auto;
  font-size: 45px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding-top: 120px; }

.image_block {
  height: 550px;
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative; }

.mobile .image_block {
  background-attachment: scroll; }

#background_secondary_image_1 {
  background-image: url(../images/alle_Wohnungen_auf_einer_Karte.jpg); }

#background_secondary_image_2 {
  background-image: url(../images/Einfache_Wohnungssuche.jpg); }

#background_secondary_image_3 {
  background-image: url(../images/alles_Wichtige_auf_einen_Blick.jpg); }

#about_background_main_image {
  background-image: url(../images/wohnung_suchen3.jpg); }

#about_background_secondary_image_1 {
  background-image: url(../images/Viele_offene_tabs.jpg); }

#about_background_secondary_image_2 {
  background-image: url(../images/Karte_statt_Liste.jpeg); }

#about_background_secondary_image_3 {
  background-image: url(../images/Karte_und_Liste.jpg); }

h4.about {
  color: white;
  text-align: center;
  font-weight: normal; }