body, html {

	 font-family:Helvetica,Arial,sans-serif;
}


 div {/*border: 1px solid green;
darklue: #000066;
orange:; #FFBF2A */}


.containerSquares {
    padding-left:10pt;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    heigh: 400px;
}


.square {
    float:left;
    padding-left:10pt;
}



.venueSquare {
	border:  1px solid black;
	width: 225px;
	height: 225px;
	padding: 10px;
	margin: 10px;
}

.titlebar{

}

.squareImage{
	background-color:orange;
	width: 225px;
	height: 100px;
}



.blocky{
	display: block;
	clear: block;
	border: 1px solid gray;
	position: relative;
	height: 550px;


	
}

.titlebar{
	font-weight: bold;
}

.imgoff{
 opacity:0.3;
filter:alpha(opacity=30); /* For IE8 and earlier */
}

.imgoff:hover{
 opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

.accorideonIndiHeader {
	color: black	;
}


.dragtip{
	background-color: darkgray;
	display: none;

}



        	.ui-accordion-header {
        	    color: white;}
        	    #accordion-restaurants {
        	        background: none;
        	        background-color: rgb(255,225,89);
        	    }
        	    #accordion-coffee {
        	        background: none;
        	         background-color: rgb(255,164,89);
        	    }
        	    #accordion-sights {
        	        background: none;
        	        background-color:rgb(254,116,88);
        	    }
        	    #accordion-arts {
        	        background: none;
        	        background-color: rgb(71,214,121);
        	    }
        	    #accordion-shops {
        	        background: none;
        	        background-color: rgb(84,155,247);
        	    }
        	    #accordion-drinks {
        	        background: none;
        	        background-color:rgb(127,125,231);
        	    }
        	    #accordion-outdoors {
        	        background: none;
        	        background-color: rgb(254,100,162);
        	    }

        
