body, html {
    font-family: Helvetica,Arial,sans-serif;
}

div {
/*border: 1px solid green;
darklue: #000066;
orange:; #FFBF2A */;
}

#lblcity {
    color: rgb(61, 61, 61);
    font-size: 46px;
    line-height: 48px;
    margin: 10px 0px;
    font-weight: bold;
    /*font-family: Montserrat,sans-serif; */
}

.containerSquares {
    padding-left: 10pt;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    heigh: 400px;
}

.navigationtopbuttons {
    width: 48px;
    height: 50px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 25px;
    float: right;
}

.blocky {
    height: 470px;
}

.titlebar {
    font-weight: bold;
}

.imgoff {
    opacity: 0.3;
    filter: alpha(opacity=30);
 /* For IE8 and earlier */;
}

.imgoff:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
 /* For IE8 and earlier */;
}

.accorideonIndiHeader {
    color: black;
}

.dragtip {
    background-color: darkgray;
    display: none;
}

.ui-accordion-header {
    color: white;
}

#accordion-sights {
    background: none;
    padding-left: 10px;
    background-color: rgb(255,225,89);
}

#accordion-arts {
    background: none;
    padding-left: 10px;
    background-color: rgb(255,164,89);
}

#accordion-outdoors {
    background: none;
    padding-left: 10px;
    background-color: rgb(254,116,88);
}

#accordion-dinner {
    background: none;
    padding-left: 10px;
    background-color: rgb(71,214,121);
}

#accordion-nightlife {
    background: none;
    padding-left: 10px;
    background-color: rgb(84,155,247);
}

#accordion-outdoors {
    background: none;
    padding-left: 10px;
    background-color: rgb(127,125,231);
}

#accordion-shopping {
    background: none;
    padding-left: 10px;
    background-color: rgb(254,100,162);
}

#submit-button {
    background-color: rgba(252, 224, 61, 0.96);
    float: right;
    border-color: rgba(252, 224, 61, 0.4);
    font-family: Lato, sans-serif;
    font-size: 28px;
    font-weight: 800;
}



/* square formatting */


.venueSquare {
    position: relative;
    border: 2px solid white;
    width: 220px;
    height: 220px;
    padding: 10px;
    margin: 5px;
}

.squareImageHolder {
    position: absolute;
    width: 205px;
    height: 205px;
    top: 5px;
    left: 5px;
    z-index: 3;
}   
    
.squareImage {
    height: 205px;
    width; 505px;
}

.squareHeart {

    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    z-index: 20;
    text-align: right;
}

.notclickedHeart{
    background-image: url(../img/heart_empty.png); 
    background-repeat:no-repeat;
}


.clickedHeart{
    background-image: url(../img/heart_filled.png); 
    background-repeat:no-repeat;
}

.squareVenuename {
    position: absolute;
    width: 195px;
    bottom: 35px;
    left: 10px;
    z-index: 5;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    margin: 10px 0px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.squareVenueinfo {
    position: absolute;
    width: 195px;
    height: 16px;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    font-size: 14px;
    color: black;
    text-align: center;
}

.textopaquefilter {
    background-color: #fff;
    -moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
}


/* End of Square CSS */        
