/* Header colors */
.head-color-red {
	background-color: rgb(242,77,96);
}

.head-color-yellow {
	background-color: rgb(250,202,10);
}

.head-color-purple {
	background-color: rgb(181,60,94);
}

.head-color-green {
	background-color: rgb(69,130,94);
}

/* Day selection */
.row.main {
	margin-top: 10px;
}

#day-selection {
	list-style-type: none;
}

#day-selection li {
	margin-bottom: 10px;
	border: 2px solid grey;
	padding: 0.5em;
	font-size: 1.6em;
}

#day-selection li div {
	text-decoration: underline;
	cursor: pointer;
}

#day-selection li div:hover {
	font-weight: bold;
}

#day-selection li div.selected {
	cursor: default;
	text-decoration: none;
	font-weight: bold;
}

/* Map */
#tour-map-canvas {
	height: 500px;
}

/* Venues */
.row.spots {
	margin-top: 40px;
	margin-bottom: 15px;
}

ul.venues {
	list-style-type: none;
	margin: 0;
}

li.venue {
	height: 60px;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom: 2px solid grey;
}

li.venue:last-child {
	border: none;
}

li.venue img {
	position: relative;
	float: left;
	max-width: 75px;
	max-height: 50px;
}

li.venue div.info {
	position: relative;
	float: left;
	width: 650px;
	height: 45px;
	max-height: 50px;
	margin: 0 5px 5px 5px;
}

li.venue .info .name {
	font-size: 16pt;
	font-weight: bold;
}

li.venue .info .address {
	font-size: 11pt;
	margin-left: 15px;
}

li.venue .info .blurb {
	font-size: 9pt;
}
